@import "tailwindcss";


{
  --oma-border-color: rgb(241, 255, 47);
  --oma-background-color: rgb(255, 143, 203);
}

@layer base {
  border-color: var(--oma-border-color);
  background: var(--oma-background-color);
}

@layer components {

}

body {
  background: var(--oma-background-color);
}

