@import "tailwindcss";

@layer utilities {
  background-color: white;
}

@layer base {
  :root {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgb(255, 255, 255);
    background-color: black;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
  }


}



