@import "tailwindcss";


{
  --oma-border-color: rgb(241, 255, 47);
  --oma-background-color: rgb(255, 143, 203);
}

@layer base {
  * {
    border-color: var(--oma-border-color);
    background-color: var(--oma-background-color);


    font-family: system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

/*  #root {

    margin: 0 auto;
    padding: 0rem;
  }*/

}


/*
@layer components {
  * {
    margin: 0 auto;
    padding: 0rem;
  }

  * {
    border-color: red;
  }*/

  /*button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
  }*/

 /* a {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
  }
}

*/




